body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:focus, a:hover {
  color: #0085A1;
}
#navbarMain {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#navbarMain .navbar-brand {
  font-weight: 800;
  color: #343a40;
}
#navbarMain .navbar-toggler {
  font-size: 12px;
  font-weight: 800px;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}
#navbarMain .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-image: url('home-bg.jpg');
  background-color: #86e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 527px;
}
.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.masthead .site-heading {
  padding: 200px 0 150px;
  color: #fff;
}
.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}
.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}
